{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="style" href="{% static 'css/bootstrap.css' %}">
    <link rel="style" href="{% static 'css/mdb.css' %}">
</head>
<body>
    <h1>i am selfish</h1>
    <img src="{% static 'images/nature.jpg' %}" alt="" width="300px" height="300px">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <div class="alert alert-primary" role="alert">
        archana
      </div>
      <button type="button" class="btn btn-Elegant">Bava</button>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary">sandee</button>
        <button type="button" class="btn btn-primary">lasya</button>
        <button type="button" class="btn btn-primary">archi</button>
      </div>
      <!-- Card -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).webp"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title">Card title</h4>
      <!-- Text -->
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <!-- Button -->
      <a href="#" class="btn btn-primary">Button</a>
  
    </div>
  
  </div>
  <!-- Card -->
<!-- Basic dropdown -->
<button class="btn btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown"
  aria-haspopup="true" aria-expanded="false">Basic</button>

<div class="dropdown-menu">
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">react</a>
  <a class="dropdown-item" href="#">drop</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">Separated link</a>
</div>
<!-- Basic dropdown -->
<div class="jumbotron card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient12.webp);">
    <div class="text-white text-center py-5 px-4">
      <div>
        <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Create your beautiful website with MDBootstrap</strong></h2>
        <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
          optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum!
        </p>
        <a class="btn btn-outline-white btn-md"><i class="fas fa-clone left"></i> View project</a>
      </div>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item">action</li>
    <li class="list-group-item">home</li>
    <li class="list-group-item">age</li>
    <li class="list-group-item">mail</li>
    <li class="list-group-item">contact</li>
  </ul>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">link</h5>
      <p class="card-text">Some quick example text to build on the panel title and make up the bulk of the panel's content.</p>
      <a class="card-link">Card</a>
      <a class="card-link">title</a>
    </div>
  </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination pg-blue">
      <li class="page-item ">
        <a class="page-link" tabindex="-1">archana</a>
      </li>
      <li class="page-item"><a class="page-link">a</a></li>
      <li class="page-item active">
        <a class="page-link">s<span class="sr-only">(current)</span></a>
      </li>
      <li class="page-item"><a class="page-link">l</a></li>
      <li class="page-item ">
        <a class="page-link">sandeep</a>
      </li>
    </ul>
  </nav>
  <!-- Horizontal Steppers -->
<div class="row">
    <div class="col-md-12">
  
      <!-- Stepers Wrapper -->
      <ul class="stepper stepper-horizontal">
  
        <!-- First Step -->
        <li class="completed">
          <a href="#!">
            <span class="circle">1</span>
            <span class="label">lasya</span>
          </a>
        </li>
  
        <!-- Second Step -->
        <li class="active">
          <a href="#!">
            <span class="circle">2</span>
            <span class="label">lasya</span>
          </a>
        </li>
  
        <!-- Third Step -->
        <li class="warning">
          <a href="#!">
            <span class="circle"><i class="fas fa-exclamation"></i></span>
            <span class="label">archi</span>
          </a>
        </li>
  
      </ul>
      <!-- /.Stepers Wrapper -->
  
    </div>
  </div>
  <!-- /.Horizontal Steppers -->
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
        aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
        aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
        aria-selected="false">Contact</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Raw denim you
      probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master
      cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
      keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip
      placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi
      qui.</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Food truck fixie
      locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit,
      blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
      Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum
      PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS
      salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
      sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
      stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Etsy mixtape
      wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack
      lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard
      locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify
      squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie
      etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog
      stumptown. Pitchfork sustainable tofu synth chambray yr.</div>
  </div>
  <h1>BANDARU family <span class="badge badge-primary">asln</span></h1>
</body>
</html>